<div class="center-content">
    <h1 style="font-size: 12px;"><span class="blue">NSE</span> <span class="orange">talent</span><span class="green">sprint</span></h1>
    <h3 style="font-size: 12px;">CERTIFIED JAVA FULL STACK</h3>
    <h3 style="font-size: 12px;">DEVELOPER PROGRAM</h3>
    <img src="assets\passport size photo sahithi.jpeg" alt="Image Description" height="180px" width="150">

    <h3 style="font-size: 12px;">(TS-BC-FSD-59)</h3>
    <h3 style="font-size: 12px;">{{name}}</h3>
    <h4 style="font-size: 12px;">{{idCardNo}}</h4>
</div>
